/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1 {
  font-size: 48px /* 64px */;
}
h2 {
  font-size: 41px /* 52px */;
}
h3 {
  font-size: 32px /* 40px */;
}
h4 {
  font-size: 23px /* 29px */;
}
h5 {
  font-size: 21px /* 28px */;
}
h6 {
  font-size: 19px /* 24px */;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */

  line-height: 1.722169;
  /* 31px */

}
.lead {
  font-size: 28px;
  /* 28px */

  line-height: 1.4642745000000001;
  /* 41px */

  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */

  line-height: 2.050846;
  /* 31px */

}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.text-danger {
  color: #e74c3c;
}
.text-info {
  color: #3498db;
}
footer {
  background-color: transparent;
}
.bg-midnight-blue {
  background-color: #091446;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
textarea {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
}
.page-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -ms-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../../common-files/icons/menu-icon.png") 50% no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
@media (max-width: 768px) {
  .background {
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* header */
/**
 * Header 11 stylesheet  
 * */
.header-11 {
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 90px;
}
.header-11 .navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-11 .navbar .brand {
  padding-top: 30px;
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-weight: 600;
}
.header-11 .navbar .navbar-toggle {
  background-image: url("/img/menu-icon-header-8.png");
  margin-top: 36px;
}
.header-11-sub {
  padding-top: 110px;
  padding-bottom: 110px;
  color: #bdc3c7;
  position: relative;
}
.header-11-sub h3 {
  font-size: 33px;
  font-weight: normal;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-11-sub p {
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-11-sub .additional-links {
  opacity: 50;
  filter: alpha(opacity=5000);
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
}
.header-11-sub .additional-links a {
  text-decoration: underline;
  color: #bdc3c7;
}
.header-11-sub .additional-links a:hover,
.header-11-sub .additional-links a:focus {
  color: #979c9f;
}
@media (max-width: 767px) {
  .header-11-sub {
    padding-top: 68px;
    padding-bottom: 70px;
  }
}
@media (max-width: 480px) {
  .header-11-sub {
    padding-top: 68px;
    padding-bottom: 70px;
  }
  .header-11-sub h3 {
    font-size: 26px;
    font-weight: normal;
    color: #ffffff;
  }
}
.header-11-sub .signup-form .form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .header-11-sub .signup-form .form .btn {
    margin: 9px 0;
  }
}
.header-11-sub .signup-form .form .btn.btn-info:hover,
.header-11-sub .signup-form .form .btn.btn-info:focus {
  background-color: #16a085;
}
.header-11-sub .signup-form .form .btn.btn-info:active {
  background-color: #138871;
}
@media (max-width: 480px) {
  .header-11-sub .signup-form .form {
    margin-top: 25px;
  }
}
/* price */
/**
 * Price 1 stylesheet  
 * */
.price-1 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.price-1 .plan {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #ebedee;
  padding: 25px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  color: #bdc3c7;
  font-size: 18px;
  font-weight: normal;
}
.price-1 .plan > * {
  padding-left: 10px;
  padding-right: 10px;
}
.price-1 .plan b {
  color: #7f8c8d;
}
.price-1 .plan .title {
  color: #2c3e50;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}
.price-1 .plan .description {
  margin: 26px 0;
  padding-top: 22px;
  border-top: 2px solid #ebedee;
  line-height: 28px;
  font-weight: normal;
}
.price-1 .plan .description b {
  font-weight: 500;
}
.price-1 .plan .btn {
  min-width: 170px;
}
@media (max-width: 767px) {
  .price-1 .plan {
    margin-top: 30px;
  }
  .price-1 .col-sm-4:first-child .plan {
    margin-top: 0;
  }
}
/* content */
/**
 * Content 13 stylesheet  
 * */
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
/* footer */
/**
 * Footer 2 stylesheet  
 * */
.footer-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus {
  color: #979c9f;
}
.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
}
.header-11-sub .background {
  background-image: url("../img/Brazil_002.png");
  opacity: 80;
  filter: alpha(opacity=8000);
  opacity: 0.8;
  filter: alpha(opacity=80);
}
@media (max-width: 767px) {
  .header-11-sub .background {
    background: #f6f6f2;
  }
}
.header-11-sub h3 {
  color: #2c3e50;
}
.header-11-sub p {
  color: #7f8c8d;
}
.header-11-sub .additional-links {
  color: #7f8c8d;
}
.header-11-sub .additional-links a {
  color: #697172;
}
.price-1 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.price-1 h3 {
  margin: 0 0 8px;
  font-size: 35px;
  text-align: center;
  letter-spacing: -1px;
}
.price-1 .lead {
  font-size: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 55px;
}
